*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width:100%;
}

.moy{
    width: 100%;
}
.moy img{
    width: 100%;
}
.head .logo{
    width: 20%;
}
.navbar-collapse span{
    width: 150px;
    background-color: #FF9800;
    height: 40px;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item a{
    color:#000000;
}
.navbar-toggler:focus{
    color: rgb(13, 108, 108);
}
.navbar-toggler-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(13, 108, 108);
}
.navbar-nav{
    gap: 5px;
}
.caro{
    height: 450px;
    background-image: linear-gradient(to right, #0D423D, #0CC7B5);
    border-radius: 5px;
}
.conty{
    max-width: 90%;
    margin: auto;
    gap: 50px;
}
.submito{
    width: 100%;
    height: auto;
    background-color: #F44336;
    border-radius: 2px;
    border: 2px solid #F44336;
}
.btn5{
    margin: auto;
    width: 25%;
}
.btn1{
    width: 100%;
}
.sub{
    position: relative;
    margin-bottom: 500px;
}
.num{
    position: absolute;
    top: -70px;
    left: 7px;
}
.numy{
    position: absolute;
    right: 2px;
}

.sec2{
    margin-top: 200px;
}
.bibis{
    background-color: #009688;
    border-radius: 20px;
}
.miro{
    border: 1px solid #009688;
    border-radius: 20px;
}
.moris{
    border: 1px solid #F44336;
    border-radius: 25px;
}
.moris2{
    border: 1px solid #009688;
    border-radius: 25px;
}
.moris3{
    border: 1px solid #FF9800;
    border-radius: 25px;
}
.moris4{
    border: 1px solid  #009688;
    border-radius: 25px;
}
.pid{
    color: #F44336;
}
.pid1{
    color: #009688;
}
.pid2{
    color: #FF9800;
}
.pid3{
    color: #009688;
}
.dipli{
    background-color:#F44336 ;
}
.mimos{
    background-color:#F44336 ;
}
.submito2{
    height: auto;
    background-color: #F44336;
    border-radius: 2px;
    border: 2px solid #F44336;
}
.btn6{
    width: 15%;
    margin: auto;
}

.submito3{
    width: 100%;
    height: auto;
    background-color: #F44336;
    border-radius: 2px;
    border: 2px solid #F44336;
}
.btn7{
    width: 45%;
    margin: auto;
}
.mirk{
    background-color: #EEF9F8;
}

.dixy{
    width: 100%;
    height: 184px;
    box-shadow: 0px 4px 4px 2px #c69a9d47;
    border-radius: 15px;
    background-color: #fff;
}
.haky a{
    text-decoration: none;
    color: #fff;
}
.kolmo{
    background-color: #009688;
}
.haky ul li{
    list-style: none;
    margin-right: 7px;
}
.haky ul{
    margin-left: -30px;
}

.azerty{
    border: 1px solid #009688;
}

.rob{
    width: 20px;
    height: 20px;
    border-radius: 50% ;
    background-color: #C4C4C4;
}

#barryjob{
    position: relative;
}

.redys{
    position: absolute;
    bottom: -100px;
    left: 5px;
}


/* caroussel exemple */



@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

